<h2>Your Text Analysis</h2>
<h3>Number of Words: <%= @analyzed_text.count_of_words %> </h3>
<h3>Vowels: <%= @analyzed_text.count_of_vowels %> </h3>
<h3>Consonants: <%= @analyzed_text.count_of_consonants %> </h3>
<h3>Most Common Letter: <%= @analyzed_text.most_used_letter.keys.first.upcase %>, used <%= @analyzed_text.most_used_letter.values.first %> times </h3>


